@mixin border-bottom {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    right: 0;
    width: 65%;
    background: #666;
    transform: translateY(0.5);
  }
}
@mixin border-cinemas{
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #ededed;
    transform: translateY(0.5);
  }
}
@mixin border-top{
  position: relative;
  &::before{
     content: '';
     position: absolute;
     width: 100%;
     height: 1px;
     top: 0;
     left: 0;
     background: #ededed;
     transform: translateY(0.5);
  }
}
